.login {
  height: calc(100vh);
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../src/img/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.center {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 20%;
}

.loginButton {
  width: 160px;
  padding: 10px 25px;
  border-radius: 50px;
  color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: small;
}

.google {
  background-color: white;
  align-self: flex-start;
}
.facebook {
  background-color: white;
  align-self: flex-start;
}

.icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
